<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/spinner.css">
    <title>Tablice</title>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <header>
                Tablice
            </header>
            <output id="tableLinks">
               <div class="lds-circle"><div></div></div>
            </output>
            <footer>
                <div id="addTableButton">Dodaj Tablicę</div>
                <div>Wyloguj</div>
            </footer>
        </aside>
        <main>
            <div class="tableColumn">
                <header>Nowe</header>
                <output>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
               <article>
                  <div class="taskTitle">Tytuł Zadania</div>
                  <div class="taskLevel">13</div>
               </article>
            </output>
                <footer>
                    Dodaj Zadanie
                </footer>
            </div>
            <div class="tableColumn">
                <header>W Trakcie</header>
                <output>
                   <div class="lds-circle"><div></div></div>
                </output>
                <footer>
                    Dodaj Zadanie
                </footer>
            </div>
            <div class="tableColumn">
                <header>Testowane</header>
                <output></output>
                <footer>
                    Dodaj Zadanie
                </footer>
            </div>
            <div class="tableColumn">
                <header>Gotowe</header>
                <output></output>
                <footer>
                    Dodaj Zadanie
                </footer>
            </div>
        </main>
    </div>
    <script type="module" src="/views/js/todo.js"></script>
</body>

</html>