<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/spinner.css">
    <title>Tablice</title>
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <header>
                Tablice
            </header>
            <output id="tableLinks">
                <div class="lds-circle">
                    <div></div>
                </div>
            </output>
            <footer>
                <div id="addTableButton">Dodaj Tablicę</div>
                <a href="/logout">Wyloguj</a>
            </footer>
        </aside>
        <main id="tableContainer"></main>
    </div>
    <script type="module" src="/views/js/todo.js"></script>
</body>

</html>