body {
    overflow: hidden;
    margin: 0;
    font-size: 1.8vw;
}

output {
    display: block;
}

.container>aside,
main {
    float: left;
}

.sidebar {
    height: 100vh;
    position: relative;
    width: 20%;
    border-right: 2px solid;
    padding-bottom: 3vh;
}

.sidebar * {
    text-align: center;
}

.sidebar header {
    border-bottom: 2px solid;
    padding: 2.5% 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.sidebar output {
    font-size: .9em;
    max-height: 78vh;
    overflow-y: auto;
}

.sidebar output .lds-circle>div{
    width: 30px;
    height: 30px;
}

.sidebar output .tableLink {
    padding: 3% 0;
    letter-spacing: 1px;
    border-bottom: 1px dotted;
}

.sidebar output .tableLink:hover {
    background-color: #ddd;
    cursor: pointer;
}

.sidebar output .tableLink.activeTable {
    background-color: #ddd;
    cursor: pointer;
}

.sidebar footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid;
    margin-bottom: 3.4vh;
}

.sidebar footer div {
    padding: 5px;
}

.sidebar footer div:hover {
    cursor: pointer;
    background-color: crimson;
    color: white;
    border-color: black;
}

.sidebar footer div:first-child {
    border-bottom: 1px solid;
}

main {
    width: 79.805%;
    height: 100vh;
}

main>header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    border-bottom: 2px solid;
    padding: 0 2%;
}

header>#tableName{
    font-size: 1.4em;
}

header>#tableEditButton{
    margin-right: auto;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

header>#tableDeleteButton{
    margin-left: auto;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

main>.initialInformation{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 25%;
}

main>.lds-circle{
    display: flex;
    justify-content: center;
}

.tableColumn {
    float: left;
    text-align: center;
    height: 92.5vh;
    border: 1px solid;
    border-top: 0;
    width: 24.72%;
    position: relative;
}

.tableColumn header {
    border-bottom: 2px solid;
    padding: 5px 2px;
}

.tableColumn output {
    padding: 10px 20px;
    overflow-y: auto;
    height: 73vh;
}

.tableColumn footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid;
    padding: 10px 0;
}

.tableColumn article {
    text-align: left;
    font-size: .8em;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.taskTitle {
    margin-bottom: 5px;
    font-weight: bold;
    letter-spacing: 1px;
}

.taskLevel {
    margin-top: 5px;
}

.tableColumn footer:hover {
    cursor: pointer;
    background-color: crimson;
    color: white;
    border-color: black;
}